# Data Preprocessing

Train/Dev/Test splits, outlier trimming, filling in missing values etc. should be done here. Save new DataFrame to a file whne done.

In [1]:
import pandas as pd
import seaborn as sns

### Train/Dev Splits

In [4]:
all_data = pd.read_csv("data/Train.csv", index_col="Tour_ID").sort_index()
descriptions = pd.read_csv("data/VariableDefinitions.csv")
descriptions

              Column Name                                         Definition
0                      id                 Unique identifier for each tourist
1                 country                The country a tourist coming  from.
2               age_group                        The age group of a tourist.
3             travel_with  The relation of people a tourist travel with t...
4            total_female                            Total number of females
5              total_male                              Total number of males
6                 purpose                  The purpose of visiting  Tanzania
7           main_activity           The main activity of tourism in Tanzania
8            infor_source  The source of information about tourism in Tan...
9         tour_arrangment                The arrangment of visiting Tanzania
10  package_transport_int  If the tour package include international tran...
11   package_accomodation  If the tour package include accommodation service
12           package_food           If the tour package include food service
13   package_transport_tz  If the tour package include transport service ...
14    package_sightseeing    If the tour package include sightseeing service
15    package_guided_tour             If the tour package include tour guide
16      package_insurance      if the tour package include insurance service
17         night_mainland  Number of nights a tourist spent in Tanzania m...
18         night_zanzibar       Number of nights a tourist spent in Zanzibar
19          first_trip_tz                If it was a first  trip to Tanzania
20          cost_category  The range of expenditures a tourist spends in ...

In [5]:
all_data.shape

(18506, 20)

In [9]:
train = all_data[0:12600]
train

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,first_trip_tz,cost_category
Tour_ID,,,,,,,,,,,,,,,,,,,,
tour_id000yfpco,GERMANY,18-24,Alone,1.0,0.0,Leisure and Holidays,Hunting Tourism,"Radio, TV, Web",Independent,No,No,No,No,No,No,No,23,0,No,Lower Cost
tour_id000zcjd9,ZAMBIA,25-44,Alone,0.0,1.0,Business,Widlife Tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,2,0,No,Lower Cost
tour_id003q62x6,UNITED STATES OF AMERICA,25-44,Alone,1.0,0.0,Volunteering,Cultural Tourism,"Friends, relatives",Package Tour,No,Yes,Yes,Yes,Yes,Yes,No,10,5,Yes,High Cost
tour_id0071kq5v,UNITED STATES OF AMERICA,65+,Alone,0.0,1.0,Visiting Friends and Relatives,Hunting Tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,30,0,No,High Cost
tour_id00bp42je,UNITED STATES OF AMERICA,45-64,Alone,1.0,0.0,Leisure and Holidays,Widlife Tourism,"Travel agent, tour operator",Package Tour,No,Yes,Yes,Yes,Yes,Yes,No,11,0,Yes,Higher Cost
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tour_idoodf8kn4,UNITED STATES OF AMERICA,45-64,With Spouse,1.0,1.0,Leisure and Holidays,Widlife Tourism,"Travel agent, tour operator",Package Tour,Yes,Yes,No,Yes,Yes,Yes,Yes,4,0,Yes,Higher Cost
tour_idoogri87y,ITALY,18-24,With Other Friends/Relatives,1.0,1.0,Leisure and Holidays,Beach Tourism,"Travel agent, tour operator",Package Tour,Yes,Yes,Yes,No,No,No,No,0,7,Yes,Higher Cost
tour_idoomemtnf,UNITED STATES OF AMERICA,25-44,With Other Friends/Relatives,2.0,1.0,Leisure and Holidays,Bird Tourism,"Friends, relatives",Package Tour,Yes,Yes,Yes,Yes,Yes,Yes,No,9,3,Yes,Higher Cost
tour_idoomhjzlf,SWEDEN,45-64,With Spouse,1.0,1.0,Leisure and Holidays,Beach Tourism,"Travel agent, tour operator",Package Tour,Yes,Yes,No,Yes,Yes,Yes,No,5,6,Yes,Higher Cost
tour_idoomr1mep,ZIMBABWE,25-44,Alone,0.0,1.0,Business,Wildlife Tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,2,0,No,Normal Cost

In [11]:
dev = all_data[12600:]
dev

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,first_trip_tz,cost_category
Tour_ID,,,,,,,,,,,,,,,,,,,,
tour_idoopupbxw,UNITED STATES OF AMERICA,65+,With Spouse,1.0,1.0,Leisure and Holidays,Widlife Tourism,"Radio, TV, Web",Independent,No,No,No,No,No,No,No,15,0,Yes,Higher Cost
tour_idoor5qdhd,UNITED KINGDOM,45-64,With Other Friends/Relatives,0.0,4.0,Meetings and Conference,Conference Tourism,"Radio, TV, Web",Independent,No,No,No,No,No,No,No,3,0,No,High Cost
tour_idoosgq6ww,INDIA,45-64,Alone,0.0,1.0,Business,Widlife Tourism,Others,Independent,No,No,No,No,No,No,No,4,0,Yes,Normal Cost
tour_idoowkx1af,ITALY,25-44,With Spouse,1.0,1.0,Leisure and Holidays,Hunting Tourism,"Radio, TV, Web",Independent,No,No,No,No,No,No,No,0,64,No,High Cost
tour_idooxa053i,GERMANY,25-44,Alone,0.0,1.0,Leisure and Holidays,Business,"Friends, relatives",Package Tour,No,Yes,Yes,Yes,No,No,No,6,0,Yes,High Cost
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tour_idzzkzdjbq,DENMARK,65+,With Other Friends/Relatives,2.0,0.0,Leisure and Holidays,Widlife Tourism,"Travel agent, tour operator",Package Tour,Yes,Yes,Yes,Yes,Yes,Yes,Yes,7,7,Yes,Higher Cost
tour_idzzp2iggp,JAPAN,25-44,Alone,1.0,0.0,Volunteering,Hunting Tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,92,0,No,Low Cost
tour_idzzpwiwzu,OMAN,25-44,With Other Friends/Relatives,2.0,1.0,Leisure and Holidays,Beach Tourism,"Travel agent, tour operator",Package Tour,No,Yes,No,Yes,Yes,Yes,No,4,4,Yes,Higher Cost
tour_idzzpwquaz,SRI LANKA,45-64,With Spouse,0.0,1.0,Visiting Friends and Relatives,Widlife Tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,14,0,Yes,Normal Cost
tour_idzzx5r8oh,UNITED STATES OF AMERICA,65+,Alone,1.0,0.0,Leisure and Holidays,Widlife Tourism,"Travel agent, tour operator",Package Tour,Yes,Yes,Yes,Yes,Yes,Yes,Yes,11,0,Yes,High Cost

Now the training set is in the train DataFrame, while the dev set is in the dev DataFrame.

### One-Hot Encoding

One-Hot Encoding is a way to represent our categorical variables as numbers, and hence make them compatible with a ML model. In this convention, each "type" in a single column is made into a column of its own, and the rows which have this type are assigned a 1 for that type's respective column and 0 otherwise.

In [12]:
train.dtypes

country                   object
age_group                 object
travel_with               object
total_female             float64
total_male               float64
purpose                   object
main_activity             object
info_source               object
tour_arrangement          object
package_transport_int     object
package_accomodation      object
package_food              object
package_transport_tz      object
package_sightseeing       object
package_guided_tour       object
package_insurance         object
night_mainland             int64
night_zanzibar             int64
first_trip_tz             object
cost_category             object
dtype: object

In [15]:
train_encoded = pd.get_dummies(train, columns = ['country','age_group', 'travel_with', 'purpose', 'main_activity',
'info_source', 'tour_arrangement', 'package_transport_int', 'package_accomodation', 'package_food', 'package_transport_tz', 'package_sightseeing', 'package_guided_tour', 'package_insurance', 'first_trip_tz', 'cost_category'])

In [16]:
train_encoded.head()

,total_female,total_male,night_mainland,night_zanzibar,country_AFGHANISTAN,country_ALGERIA,country_ANGOLA,country_ARGENTINA,country_ARMENIA,country_AUSTRALIA,...,package_insurance_No,package_insurance_Yes,first_trip_tz_No,first_trip_tz_Yes,cost_category_High Cost,cost_category_Higher Cost,cost_category_Highest Cost,cost_category_Low Cost,cost_category_Lower Cost,cost_category_Normal Cost
Tour_ID,,,,,,,,,,,,,,,,,,,,,
tour_id000yfpco,1.0,0.0,23,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
tour_id000zcjd9,0.0,1.0,2,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
tour_id003q62x6,1.0,0.0,10,5,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,0
tour_id0071kq5v,0.0,1.0,30,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
tour_id00bp42je,1.0,0.0,11,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0